body {
    font-family: "Inter", sans-serif;
  }

  .navbarImg {
    background-image: url('../images/navigation.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}